@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    left: 75%
    width: 10%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 80%
    right: 10%
    width: 10%
  &-3
    animation: vibrar 0.2s infinite
    position: absolute
    top: 20%
    right: 100%
    width: 15%
  &-4
    animation: floatHorizontal 2.8s ease-in-out infinite alternate
    position: absolute
    top: 75%
    right: 85%
    width: 10%

@keyframes vibrar
  0%
    transform: translateX(0)
  25%
    transform: translateX(-2px)
  50%
    transform: translateX(2px)
  75%
    transform: translateX(-2px)
  100%
    transform: translateX(0)

@keyframes floatHorizontal
  from
    transform: translateX(-10px)

  to
    transform: translateX(10px)
@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $white !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: #ffff !important
.banner-interno__titulo__icono i
    color: $color-acento-botones !important;
.boton *, .boton--sm *, .barra-avance__boton--regresar span 
  color: $color-sistema-texto !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: $color-sistema-texto !important  

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/temas/bg/fondo-banner-principal-movil.png') !important;
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white
 
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/temas/bg/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white
.banner-interno__fondo    
  background-image: url("../assets/curso/temas/bg/banner_interno.png") !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario

.bg1 
  background-color: #FFE8B8
.bg2
  background-color: #F3E5F8
.bg3
  background-color: #6101D8
  border-radius: 15px
.bg4
  background-color: #EFE5FB
.bg5
  background-image: url('../assets/curso/temas/t1/tarjeta.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px) 
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.bg6
  background-color: #F3FDFF
.bg7
  background-image: url('../assets/curso/temas/t2/fondot2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px) 
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.bg8
  background-color: #D2E1F1
.bg9
  background-color: #FFF9ED
.acordion__accion__btn--a 
  background-color: #8AE7F9 !important
.acordion .tarjeta--azul
  background-color: #C099EF !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #F3FDFF !important
.slyder__btn 
  background-color: #8AE7F9

.izq
  margin-left: -0.8rem

.fa-code
  content: url('../assets/curso/temas/t1/code.svg')
  align-self: flex-start !important

.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px

.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none
.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5
    color: $color-sistema-texto !important  
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #FFE8B8
  @media (max-width: 1000px)
    padding-right: 2rem
.crd--avatarHorizontal2
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5
    color: $color-sistema-texto !important  
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #F3E5F8
  @media (max-width: 1000px)
    padding-right: 2rem
.crd--first
  &::before
    background-color: #EFE5FB !important
.crd--first
  &::before
    border-top-left-radius: 30px
.crd--last
  &::before
    border-bottom-left-radius: 30px
.crd--last
  &::before
    background-color: #FFE8B8 !important
.titulo-segundo:after 
  border-left-color: #FEC64F
/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

.text-izq
  text-align: left !important

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

.cajon.color-secundario 
  background-color: #F3E5F8 

.tabs-a__tab 
  background-color: #6101D8
  color: white



















//  Codigo de las tarjetas que se deslizan hacia arriba 
.cont_5_1, .cont_5_1 *
  position: relative

.cont_5_1:before
  content: ''
  position: absolute
  width: 125%
  height: 70%
  top: 15%
  bottom: 15%
  left: -15%
  background-size: 100% 100%

.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important
  border-radius: 0px

.crd_hover_txt .crd_hover_txt--body
  position: absolute
  width: 100%
  bottom: 0
  padding: 1rem 1.2rem
  transition: all .5s ease-in-out
  transform: translateY(calc(100% - 5.2rem))
  font-weight: 400 !important
  background: transparent

/* SOLO FILA TITULO */
.crd_hover_txt .crd_hover_txt--body > div:first-child
  display: flex !important
  align-items: center !important
  flex-wrap: nowrap !important
  gap: 12px
  width: 100%

.crd_hover_txt:hover .crd_hover_txt--body
  transform: translateY(0)
  background-color: #EFE5FB !important

  .rot
    transform: rotate(180deg)

.crd_hover_txt:hover .crd_hover_txt--body *
  color: black !important

/* OCULTAR PÁRRAFO CUANDO ESTÁ CERRADO */
.icono-circulo
  width: 32px
  height: 32px
  border-radius: 50%
  background-color: #6101D8
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0

.flecha
  width: 10px
  height: 10px
  border-left: 4px solid #8AE7F9
  border-top: 4px solid #8AE7F9
  transform: rotate(45deg)
  transition: transform 0.4s ease

.cursor-pointer.crd_hover_txt
  cursor: pointer

.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important

  &:hover
    .crd_hover_txt--body
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
      transform: translateY(0)

    .flecha
      transform: rotate(225deg)

  .crd_hover_txt--body
    position: absolute
    padding: 1rem
    bottom: 0
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc(100% - 3.85rem))
    background-color: #8AE7F9
    border-radius: 20px

  @media (min-width:1200px) and (max-width:1400px)
    .crd_hover_txt--body
      p
        font-size: 0.85em
